[logging]
log_path = log/app.log


[app]
secret_key = 

[mongodb]
ip_address = 
port = 19806
database = blogapp
mongo_url = 
mongo_user = 
mongo_pwd = 
users_collection = users
post_collection = blog
comment_collection = comment
comment_tree_collection = comment_tree